.page-one-wrapper{

    padding: 4rem 0 3rem 3rem;
}
.pic{
    background-image: url('../../assets/page1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height: 100%;
}
.text{
    padding-right: 3rem;
}
