.page{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;

}
#page-1{

    z-index: 4;
}
#page-2{
    z-index: 3;
}
#page-3{
    z-index: 2;
}
#page-4{
    z-index: 1;
}
.priviewsPage{
    animation: 1s animatePriviewsPage forwards ease-out;
}
@keyframes animatePriviewsPage{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-110vh);
    }
}
.nextPage{
    animation: 1s animateNextPage forwards ease-out;
}
@keyframes animateNextPage{
    from{
        transform: translateY(-110vh);
    }
    to{
        transform: translateY(0);
    }
}
header{
background-color: #404040;
height: 3rem;
width: 100vw;
position: fixed;
top:0;
left: 0;
z-index: 6;
display: grid;
grid-template-columns: 50% auto auto;
color:#fff;
align-items: center;
@media (max-width: 767px) {
    grid-template-columns: auto 0 auto;
}
}
.menu ul li{
    display: inline-block;
    margin-left: 1rem;
    list-style:none;
    @media (max-width: 767px) {
        display: none;
    }
}
.menu{
    text-align: right;
    padding-right: 3rem;
}
.login-waraper{
    text-align: center;
}
.signup, .login{
    display: inline-block;
    margin-left: 1rem;
    font-weight: bold;
}
.signup{
    border:1px solid;
    border-radius: 5px;
    padding-right: 1rem;
    padding-left: 1rem;
    
}
.logo{
    display: grid;
    grid-template-columns:2.5rem auto;
    align-items: center;
    padding-left: 2.5rem; 
    @media (max-width: 767px) {
        padding-left: 0.5rem; 
    }
}
.logo-icon{
    background-image: url('../assets/guru.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
  
}
.logo-text{
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}