<header>

  <div class="logo">
    <div class="logo-icon"></div>
    <div class="logo-text">
        <span >Guru</span>
        shot
    </div>   
  </div>
  <div class="menu">
    <ul >
      <li *ngFor="let item of barMenu">
        {{item}}
      </li>
    </ul>    
  </div>
  <div class="login-waraper">
    <div class="login">
      Login
    </div>
    <div class="signup">
      Sign Up
    </div>
  </div>
</header>

<div class="pages-wrapper">
  <div class="page"
    [ngClass]="{'priviewsPage': (currentPage>1  && direction) || currentPage>=2, 'nextPage': currentPage===1 && !direction}"
    id="page-1">
    <app-page-one></app-page-one>
  </div>
  <div class="page"
    [ngClass]="{'priviewsPage': (currentPage>2 && direction) || currentPage>=3, 'nextPage': currentPage===2  && !direction}"
    id="page-2">
    <app-page-two [currentPage]="currentPage"></app-page-two>
  </div>
  <div class="page"
    [ngClass]="{'priviewsPage': (currentPage>3 && direction) || currentPage===4, 'nextPage': currentPage===3  && !direction}"
    id="page-3">
    <app-page-three [currentPage]="currentPage"></app-page-three>
  </div>
  <div class="page" id="page-4">
    <app-page-four></app-page-four>
  </div>
</div>

<router-outlet></router-outlet>