<div class="page-three-wrapper page-wrapper">
    <div class="text" [ngClass]="{'textAnim' : currentPage===3}">
      <h1>I am header </h1>
      <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada sit amet tortor eu dictum. Donec ut felis et arcu gravida pulvinar. Sed tincidunt tellus ultrices convallis mollis. Morbi non erat quis metus luctus scelerisque eget vitae ante. Fusce tincidunt orci in ligula congue, ut tempus erat egestas. Vivamus varius tellus eu turpis rhoncus, ac pretium leo finibus. Aenean consectetur orci non dui dictum ultricies. Nulla facilisi. Ut suscipit risus non nibh finibus, at tempor nisl fringilla. Donec sed placerat tortor.
      </div>
    </div>
    <div class="pic-wrapper">
      <div class="pic" [ngClass]="{'picAnim': currentPage==3}"></div>
    </div>
  </div>